:root {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--sans);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  scroll-margin-top: var(--site-header-height);
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
}

.App {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: var(--canvas-width);
}

.container:not(.hero .container) {
  margin-inline: auto;
  padding-inline: var(--section-padding-inline);
}
