.about .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* TODO find max width */
.about-content {
  flex: 3 1 40rem;
}

/* TODO find max width */
.about-aside {
  flex: 1 1 19ch;
}

.about-aside-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 20rem));
}

/* TODO for list decorators (later) */
.about-aside svg {
  pointer-events: none;
  user-select: none;
}
