.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-content: end;
  align-items: end;
  width: 3.5in;
  height: 2in;
  padding: 1.25rem;
  font-variant: small-caps;
  font-size: 0.9rem;
  border: 2px solid rgba(var(--color-border), 0.6);
}

.contact-card-identity * {
  margin-block: 0;
}

.contact-card-identity h3 {
  font-size: 2rem;
}

.contact-card-details {
  font-style: normal;
}

.contact-card-details :is(dl, dt, dd) {
  margin: 0;
}

.contact-card-details dl {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.375rem 0.5rem;
  justify-content: end;
}

.contact-card-detail {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.contact-card-detail dt {
  justify-self: end;
}
