.main-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.nav-button {
  height: var(--site-header-height);
  width: 7rem;
  font-size: 1.5rem;
}
